.container
  %table.table.table-condensed.data-table{ data: { ajax: plant_populations_path }}
    %thead
      %tr
        %th Species
        %th Canonical Name
        %th Female Parent Line
        %th Male Parent Line
        %th Type
        %th Population count
