.container
  %table#plant-populations.table.table-condensed.data-table{ data: { ajax: data_grid_plant_populations_path }}
    %thead
      %tr
        %th Species
        %th Canonical Name
        %th Female Parent Line
        %th Male Parent Line
        %th Type
        %th Population count
