-# TEMP, NOTE: remove after navigation mode is designed
%ol.breadcrumb
  %li= link_to "Home", root_path
  %li.active Plant populations

.container
  %table#plant-populations.table.table-condensed.data-table{ data: { ajax: plant_populations_path }}
    %thead
      %tr
        %th Species
        %th Canonical Name
        %th Female Parent Line
        %th Male Parent Line
        %th Type
        %th Population count
