.action-buttons

  - if submission.first_step?
    .btn.btn-default.btn-wide.btn-back.disabled(name="back")
      Back
  - else
    = f.submit "Back", class: 'btn btn-default btn-wide btn-back', name: 'back'

  .pull-right
    = f.submit "Save & edit later", class: 'btn btn-default btn-leave', name: 'leave'

    - unless submission.last_step?
      = f.submit "Next", class: 'btn btn-primary btn-wide btn-next'
    - else
      = f.submit "Send", class: 'btn btn-primary btn-wide'

