.form-group
  = content.label :taxonomy_term, class: 'required'
  = content.select :taxonomy_term, options_for_select(TaxonomyTerm.names, @content.taxonomy_term), { include_blank: true }, class: 'taxonomy-term form-control', 'data-placeholder': 'Select term'

.form-group
  = content.label :population_type, class: 'required'
  = content.select :population_type, PopulationType.population_types, { include_blank: true }, class: 'population-type form-control', 'data-placeholder': "Select population type"
