= render partial: "submissions/annotations", locals: { model: PlantPopulation, collapsible: false, form: content }

.alert.alert-warning
  Sending your submission will make provided data publicly available.<br/>
  Please, double check data correctness as further changes will require
  contact with support team.
