.errors.hidden

= form_tag submission_uploads_path(submission), multipart: true, method: :post do
  = hidden_field_tag "submission_upload[upload_type]", "plant_trial_environment"

  .form-group.fileinput{ class: "#{'hidden' if @content.environment_upload}" }
    .btn.btn-primary.fileinput-button
      %span Choose a file...
      = file_field_tag "submission_upload[file]", class: 'plant-trial-environment-upload',
        accept: "application/vnd.ms-excel"

    %small.help-block
      Please upload the XLS file containing Environment data here.
