@import "compass/css3";

// GENERAL STYLES

body {
  font-family: $base-font-family;
  font-size: 13px;
  color: $body-text-color;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px;
  font-family: $heading-font-family;
  color: $heading-text-color;
}

section {
  margin-bottom: 60px;
}

a {
  color: $accent-color;

  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
  outline: 0 !important;
}

hr {
  border-color: #eaeaea;
}

/* wrapper */
.wrapper {
  background: #fff;

  > footer {
    background-color: $footer-bg-color;
    font-weight: 300;
    color: #eaeaea;

    a {
      color: #fff;

      &:hover, &:focus {
        color: #fff;
        text-decoration: underline;
      }
    }

    .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .logo {
      width: 100px;
      margin-bottom: 15px;
    }

    @include max-screen($break-small) {
      .container {
        padding: 30px 15px;
      }
    }
  }
}

.full-width-section {
  padding: 100px 0;
  background-color: $accent-color;
}

.layout-boxed .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 5px #ccc;
}

.widget-title {
  font-size: 18px;
}

.section-heading {
  margin-bottom: 20px;
  font-size: 22px;

  &:after {
    display: block;
    content: '......';
    color: $accent-color;
    font-weight: 300;
  }

  &.panel-title:after {
    display: none;
  }
}

/* social background color */
.facebook-bg {
  background-color: $facebook-color;
}

.twitter-bg {
  background-color: $twitter-color;
}

.googleplus-bg {
  background-color: $googleplus-color;
}

.rss-bg {
  background-color: $rss-color;
}

/* page header */
.page-header {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid #eaeaea;

  .container {
    position: relative;
  }

  .breadcrumb {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -18px;
  }

  .page-title {
    margin: 20px 0;
    font-size: 24px;
  }

  @include max-screen($break-small) {
    .breadcrumb,
    .page-title {
      float: none !important;
      text-align: center;
    }

    .breadcrumb {
      position: inherit;
      top: inherit;
      right: inherit;
    }
  }
}

.page-content {
  margin: 40px 0;
}

// animation delays
.animation-delay-1 {
  @include animation-delay(.1s !important);
}

.animation-delay-2 {
  @include animation-delay(.2s !important);
}

.animation-delay-3 {
  @include animation-delay(.3s !important);
}

.animation-delay-4 {
  @include animation-delay(.4s !important);
}

.animation-delay-5 {
  @include animation-delay(.5s !important);
}

.animation-delay-6 {
  @include animation-delay(.6s !important);
}

.animation-delay-7 {
  @include animation-delay(.7s !important);
}

.animation-delay-8 {
  @include animation-delay(.8s !important);
}

.animation-delay-9 {
  @include animation-delay(.9s !important);
}

.animation-delay-10 {
  @include animation-delay(1s !important);
}

.animation-delay-11 {
  @include animation-delay(1.1s !important);
}

.animation-delay-12 {
  @include animation-delay(1.2s !important);
}

.animation-delay-13 {
  @include animation-delay(1.3s !important);
}

.animation-delay-14 {
  @include animation-delay(1.4s !important);
}

.animation-delay-15 {
  @include animation-delay(1.5s !important);
}

/* footer */
.footer-heading {
  margin: 0 0 13px 0;
  font-size: 16px;
  line-height: 2;
}

.footer-nav > li {
  margin-bottom: 10px;
}

.copyright {
  padding: 15px 0;
  background-color: #323232;
  font-size: 12px;
}


