.container
  %h2.page-title
    My submissions

    %span.actions= new_submission_button

  - if @submissions.present?
    = render partial: 'submissions_list', locals: { submissions: @submissions, mode: :private }

  - else
    .alert.alert-info
      %p You do not have any submissions yet.
