.container
  .lead My submissions

  - if @submissions.present?

    = render partial: 'submissions_list', locals: { submissions: @submissions, mode: :private }

    = create_submission_button

  - else
    .alert.alert-info
      %p You do not have any submissions yet.
    %p= create_submission_button
