.lead My submissions

- if @submissions.present?

  = render partial: 'submissions_list', locals: { submissions: @submissions, mode: :private }

  = new_submission_button

- else
  .alert.alert-info
    %p You do not have any submissions yet.
    = new_submission_button
