# Set ENV vars using `.env` file or whatever method you prefer.

default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5
  port: <%= ENV.fetch('BRASSICA_DATABASE_PORT') %>
  username: postgres
  password: <%= ENV.fetch("BRASSICA_DATABASE_PASSWORD") %>

  # Schema search path. The server defaults to $user,public
  #schema_search_path: myapp,sharedapp,public

  # Minimum log levels, in increasing order:
  #   debug5, debug4, debug3, debug2, debug1,
  #   log, notice, warning, error, fatal, and panic
  # Defaults to warning.
  #min_messages: notice

development:
  <<: *default
  database: brassica_development

test:
  <<: *default
  database: brassica_test

production:
  <<: *default
  port: 5432
  database: brassica_production
  username: brassica
  password: <%= ENV.fetch('BRASSICA_DATABASE_PASSWORD') %>
