.container
  .h2.page-title API Key

  .row
    .col-sm-6
      %p Your can access BIP API using the following key:
      %p
        %code
          = @api_key.token

      %p
        This is your
        %strong personal
        secret key and should not be shared with others. Please, consult
        = link_to t('menu.api'), navbar_menu[:api]
        for more information.

    .col-sm-6
      %p
        In case you would like to revoke the current key for some reason
        (e.g., you think it is compromised), please
        %strong Renew
        it.

      %p
        = button_to(recreate_api_keys_path, method: "put", class: 'btn btn-danger') { "Renew key" }

      %p.text-danger
        %strong Important.
        This operation will revoke your current API Key. That means it will no
        longer be valid and every future API call using that API Key value will fail.
        When you decide to renew your API Key, please make sure that you use
        the new value in your BIP client.
