.container
  .h2.page-title API Key

  .row
    .col-sm-6
      %p Your can access BIP API using the following key:
      %p
        %code
          = @api_key.token

      %p
        Please, consult
        = link_to t('menu.api'), navbar_menu[:api]
        for more information.

    .col-sm-6
      %p
        = button_to "Renew key", recreate_api_keys_path, method: "put", class: 'btn btn-default'

      %p.text-danger
        %strong Important.
        This operation will revoke your current API Key. That means it will no
        longer be valid and every API call using that API Key value will fail.
        When you decide to renew your API Key, please make sure that you use
        the new value in your BIP client.
