.alert.alert-info
  Map data file provides supplementary information about the location of mutations
  defined in genotype CSV file. It is not needed when using VCF for genotype data
  as this format already includes locations.

  CSV file format is shown by a <b>#{analysis_data_file_template_link(:gwas_map)}</b>:
  %br
  %br
  %ul
    %li Values in the CSV file must be comma-delimited.
    %li First column of the CSV file is ID. Values in this column denote <b>SNPs</b>. These values must be unique.
    %li Second column is Chr. Values in this column denote <b>chromosome</b> number.
    %li Third and last column is cM. Its values denote mutation's <b>position</b> in the chromosome.

