- submission_values = submission.submission_attributes.map { |args| submission_value(submission, *args) }.compact

- if submission_values.present?
  .panel.panel-default
    %ul.list-group
      - submission_values.each do |attr, value, label, url|
        %li.list-group-item{ class: "submission-attribute-#{attr.to_s.dasherize}" }
          = render partial: "submissions/show/value", locals: { value: value, label: label, url: url }

- else
  .well This submission does not have any content yet.
