[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
  margin-left: .05em;
}

.flaticon-magnifier:before {
  content: "\e000";
}

.flaticon-pages:before {
  content: "\e001";
}

.flaticon-database:before {
  content: "\e002";
}

.flaticon-settings:before {
  content: "\e003";
}

.flaticon-user:before {
  content: "\e004";
}
