@mixin screen($res-min, $res-max)
{
  @media screen and ( min-width: $res-min ) and ( max-width: $res-max )
  {
    @content;
  }
}

@mixin max-screen($res)
{
  @media screen and ( max-width: $res )
  {
    @content;
  }
}

@mixin min-screen($res)
{
  @media screen and ( min-width: $res )
  {
    @content;
  }
}

@mixin screen-height($res-min, $res-max)
{
  @media screen and ( min-height: $res-min ) and ( max-height: $res-max )
  {
    @content;
  }
}

@mixin max-screen-height($res)
{
  @media screen and ( max-height: $res )
  {
    @content;
  }
}

@mixin min-screen-height($res)
{
  @media screen and ( min-height: $res )
  {
    @content;
  }
}