//DEFINE ALL VARIABLES HERE

//general
$footer-height: 350px;
$footer-margin: 50px;


//custom colors
$accent-color: #72c02c;
$accent-color-2: #49b4cb;
$mono-color-1: #586373;
$mono-color-2: #cdcdcd;
$text-color-negative: #ffffff;
$facebook-color: #3b59ab;
$twitter-color: #2b97f0;
$googleplus-color: #dd4b39;
$rss-color: #ff6600;
$footer-bg-color: #2D2F38;
$footer-bg-color-2: darken($footer-bg-color, 3%);
$footer-text-color: #dadada;
$footer-accent-color: $accent-color;
$heading-text-color: #474747;
$body-text-color: #333333;

/*	############################################################################
 *
 *	BOOTSTRAP VARIABLES OVERWRITE
 *
 *	############################################################################
 */

//colors
$gray-base: #000;
$brand-primary: $accent-color;
//$brand-success:
//$brand-info:
//$brand-warning:
//$brand-danger:


//scaffolding
$body-bg: #fff;
$text-color: $body-text-color;
$link-color: darken($brand-primary, 8%);
$link-hover-color: darken($link-color, 8%);


//typography
$font-size-base: 14px;

//components


//tables



//buttons
$btn-default-border: $mono-color-1;


//forms
$input-border: $mono-color-1;



// fonts
$heading-font-family: "Raleway", sans-serif; // imported from google font
$base-font-family: "Raleway", sans-serif; // imported from google font


// Screen breakpoint variables
$break-xsmall: 480px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
$break-xlarge: 1440px;