@import "compass";

// GENERAL STYLES

body {
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-text-color;
  font-family: $heading-font-family;
  margin-top: 5px;
}

section {
  margin-bottom: 60px;
}

a {
  color: $accent-color;

  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
  outline: 0 !important;
}

hr {
  border-color: #eaeaea;
}

/* social background color */
.facebook-bg {
  background-color: $facebook-color;
}

.twitter-bg {
  background-color: $twitter-color;
}

.googleplus-bg {
  background-color: $googleplus-color;
}

.rss-bg {
  background-color: $rss-color;
}


