// footer

#footer {
  background-color: $footer-bg-color;
}

.footer-heading {
  margin: 0 0 13px 0;
  font-size: 16px;
  line-height: 2;
}

.footer-nav > li {
  margin-bottom: 10px;
}

.copyright {
  padding: 15px 0;
  background-color: #323232;
  font-size: 12px;
}