// FIXME temporary styles
.search-results {
  clear: both;
  margin: 4em 1em 1em 1em;
  background-color: #fff;

  i.fa {
    padding: 0.5em;
  }

  ul {
    padding: 0 0.5em;
    list-style-type: none;
    text-align: left;
  }
}
