.section-heading {
  @extend .page-title;
}

.section-jumbotron {
  background: url("/images/hero-bg.jpg") no-repeat scroll center top #4B5B6B;
  color: $text-color-negative;
  padding-top: 25px;

  .container {
    max-width: $break-medium;
  }

  h3 {
    color: $text-color-negative;
    font-size: 32px;
    font-weight: bold;
  }

  .intro-text {
    font-size: 16px;
  }
}

.section-search {
  line-height: 2.4;
  margin-top: -60px;
  text-align: center;

  .container {
    @include border-radius(2px);
    background-color: #50687E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px 0;
  }

  .form-group {
    margin: 0;
  }

  .search-examples {
    color: $text-color-negative;
    margin-top: 8px;
    line-height: normal;

    .search-example {
      color: $text-color-negative;
      text-decoration: underline;
    }
  }
}

.section-actions {
  .boxed-content {
    i {
      color: $mono-color-1;
      border: 3px solid $accent-color;
      border-radius: 100%;
      display: inline-block;
      font-size: 56px;
      height: 2em;
      line-height: 1.9;
      margin: 0;
      padding-left: 5px;
      width: 2em;
    }

    &:hover {
      i {
        background-color: $accent-color;
        color: $text-color-negative;
        transition: all 500ms;
      }
    }

    &.submit {
      @include boxed-content-icon($accent-color-2);
    }

    &.documentation {
      @include boxed-content-icon($mono-color-1);
    }
  }
}

//docs
.docs {
  h3 {
    margin-top: 2em;

    &:first-of-type {
      margin-top: 0;
    }
  }
  p, ul {
    margin-bottom: 20px;
  }
  .description {
    margin-bottom: 12px;
  }
  ol {
    counter-reset: li;
    list-style: outside none none;
    padding-bottom: 10px;
    position: relative;
    > li {
      padding: 5px 0 5px 50px;
      position: relative;
      &::before {
        border-right: 1px solid #ddd;
        color: $mono-color-2;
        content: counter(li, decimal);
        counter-increment: li;
        font-size: 22px;
        font-weight: bold;
        height: 100%;
        left: 0;
        line-height: 35px;
        padding: 0 10px 0 0;
        position: absolute;
        text-align: right;
        top: 0;
        width: 30px;
      }
    }
  }
  table {
    border: none;

    td.prop {
      width: 30%;
    }
    td.format {
      width: 12%;
    }
    td.create {
      width: 12%;
    }

    .placeholder {
      font-style: normal;
      color: $accent-color-2;
    }
  }
  code {
    background-color: whitesmoke;
  }
  .action {
    margin: 32px 0 16px 0;
    font-size: 16px;
    font-weight: bold;

    .method {
      @extend .badge;
      font-size: 18px;
      margin-right: 8px;
    }
  }

  .request + p {
    margin-top: 20px;
  }

  .response {
    display: block;
    max-height: 350px;
    overflow: auto;
    margin-bottom: 20px;
  }
}

.docs-sidebar {
  @include max-screen($break-small) {
    display: none;
  }
  top: 20px;
  &.affix-bottom {
    position: absolute;
  }
  .nav {
    > li {
      > a {
        color: #767676;
        display: block;
        font-size: 13px;
        font-weight: 500;
        padding: 4px 20px;
      }
    }
    > .active {
      &:focus > a,
      &:hover > a,
      > a {
        background-color: transparent;
        border-left: 2px solid $accent-color;
        color: $accent-color;
        font-weight: 700;
        padding-left: 18px;
      }
    }
  }
}
