html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -350px;
}

#push,
#footer {
  height: 350px;
}

// /* Lastly, apply responsive CSS fixes as necessary
//     @media (max-width: 767px) {
//       #footer {
//         margin-left: -20px;
//         margin-right: -20px;
//         padding-left: 20px;
//         padding-right: 20px;
//       }
//     }

