.page-title {
  color: $heading-text-color;
  margin-bottom: 20px;

  &::after {
    border-bottom: 2px solid $accent-color;
    content: " ";
    display: block;
    margin-top: 5px;
    width: 100px;
  }

  &.no-navbar {
    margin-top: 20px;
  }

  &.text-center {
    margin: 0 auto 20px;

    &::after {
      margin: 10px auto 0;
    }
  }
}

.text-long {
  max-width: $break-small;
  margin-bottom: 20px;
}
