
//button styles
.btn-secondary {
  text-transform: none;
}

.btn-ghost {
  background-color: transparent;
}

.btn-negative {
  color: $text-color-negative;
  border-color: $text-color-negative;
}

.btn-action {
  @include button-variant($text-color-negative, $accent-color-2, darken($accent-color-2, 5));
}

.btn-mono {
  @include button-variant($text-color-negative, $mono-color-1, darken($mono-color-1, 5));
}

.btn-accent-3 {
  @include button-variant($text-color-negative, $accent-color-3, darken($accent-color-3, 5));
}

.btn-wide {
  padding-left: 36px;
  padding-right: 36px;
}

.btn.toggle-annotations {
  margin-bottom: 5px;
}

//button layout
.btn, a {
  .icon {
    vertical-align: -1px;
  }

  .icon:first-child, .fa:first-child {
    margin-right: 0.5em;
  }

  .icon:last-child, .fa:last-child {
    margin-left: 0.5em;
  }

  .icon:only-child, .fa:only-child {
    margin: 0
  }
}

//forms
.form-negative {
  border-color: $mono-color-2;
}

.form-group {
  .required::before {
    color: red;
    content: "*";
    float: left;
    font-size: 2em;
    height: 12px;
    line-height: normal;
    margin-right: 2px;
  }
}

//text & typography
.text-negative {
  color: $mono-color-2;
}

//boxed content
.boxed-content {
  text-align: center;
  margin-bottom: 35px;

  > i {
    font-size: 5em;
    color: $accent-color;
  }

  .boxed-content-title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
  }
}

//tables
.table-bar {
  @include clearfix;
  @include border-radius(2px);
  background-color: #CED7E0;
  border: 1px solid #bbb;
  padding-top: 5px;
}

.table {
  border: 1px solid #dddddd;
  font-size: 13px;

  thead {
    tr {
      background-color: #dae3ed;
    }
  }

  &.table-browse {
    margin-bottom: 100px !important;
    width: 100% !important;
  }

  .panel & {
    border: none;
  }
}

//table surrounding
.data-filters {
  color: $mono-color-1;
  font-size: 12px;
  margin-top: -20px;

  .label {
    font-size: inherit;
  }
}

.table-footer {
  top: -90px;
  position: relative;
}

//popover
.popover {
  .metadata-close {
    top: 4px;
    right: 10px;
    position: absolute;
  }
}

.popover-content {
  word-wrap: break-word;
}
