/*
*	############################################################################
*
*	Brassica - Custom Bootstrap Styles
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		Bartosz Chucherko
*
*	############################################################################
*/

/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require dataTables.bootstrap
 */

//import config files
@import "modules/variables";
@import "modules/mixins";
@import "modules/helpers";

//import bootstrap styles
@import "bootstrap-sprockets";
@import "bootstrap/bootstrap-custom";
@import "bootstrap/ui-bootstrap-elements";

//import general styles
@import "partials/base";
@import "partials/header";
@import "partials/navbar";
@import "partials/footer";
@import "partials/ui-elements";
@import "partials/typography";
@import "modules/fonts";
@import "modules/icons";

//import vendor elements
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/select2";
@import "highlight-solarized-light";

//import ui elements
@import "partials/sections";
@import "partials/charts";
@import "partials/flash";
@import "partials/errors";
@import "partials/submissions";
@import "partials/wizard";
@import "partials/search";
@import "partials/overrides";
