/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require dataTables.bootstrap
 *= require select2
 */

@import "bootstrap-sprockets"
@import "bootstrap-custom"
@import "font-awesome-sprockets"
@import "font-awesome"

html, body
  height: 100%

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -60px

#push,
#footer
  height: 60px

// /* Lastly, apply responsive CSS fixes as necessary */
//     @media (max-width: 767px) {
//       #footer {
//         margin-left: -20px;
//         margin-right: -20px;
//         padding-left: 20px;
//         padding-right: 20px;
//       }
//     }

#footer
  background-color: #eee
  padding: 15px

  .copy
    // @include make-sm-column(12)

.errors
  @extend .panel
  @extend .panel-default
  margin: 2em 0
  color: red

  ul
    @extend .list-group

    li
      @extend .list-group-item

.field_with_errors
  color: red

  .form-control
    background-color: #fee
    border-color: red

.flash-notice
  @extend .alert
  @extend .alert-success

.flash-alert
  @extend .alert
  @extend .alert-danger

.submissions
  @extend .list-group
  margin-top: 1em

  > li
    @extend .list-group-item

    form
      display: inline-block

.select2
  width: 40%

.select2-container
  display: block !important

.edit_submission
  .add-plant-line, .select-existing-plant-line, .select-existing-taxonomy-term
    @extend .btn, .btn-default

  .action-buttons
    margin-top: 4em

