.submissions
  @extend .list-group
  margin-top: 1em

  > li
    @extend .list-group-item

    .show-submission
      display: inline-block
      width: 70%

    .updated-at
      @extend .label, .label-default
      display: inline-block

    .finalized-at
      @extend .label, .label-success
      display: inline-block

    .actions
      float: right
      width: 25%
      text-align: right

      form
        display: inline-block

.edit_submission
  margin-bottom: 2em

  .action-buttons
    margin-top: 4em

  button.new-plant-line-for-list
    @extend .btn, .btn-default

  div.new-plant-line-for-list
    @extend .panel, .panel-default
    padding: 2em

    h5
      margin: 0 0 1.5em 0

    button.add-new-plant-line-for-list
      @extend .btn, .btn-primary

    button.cancel-new-plant-line-for-list
      @extend .btn, .btn-default
