.container
  %table.table.table-condensed.data-table{ data: { ajax: temporary_data_path }}
    %thead
      %tr
        %th Variety Name
        %th Genus
        %th Species
        %th Subtaxa
        %th By whom
        %th Entry Date
        %th Provenance
        %th Status
