.container
  %table.table.table-condensed.data-table{ data: { ajax: temporary_data_path }}
    %thead
      %tr
        %th Name
        %th Position
        %th Office
        %th Extn.
        %th Start date
        %th Salary
