-# TEMP, NOTE: temporary styling

%h3 About Brassica Information Portal

%p
  .text-justify
    TEMP REPLACE WITH THE ACTUAL CONTENT.
    The Brassica Information Portal is a web repository for population and trait
    scoring information related to Brassica breeding community. It provides
    information about quantitative trait loci and links curated Brassica phenotype
    experimental data with genotype information stored in external data sources.
    Advanced data submission capabilities and API interface allow users to store
    and publish their own study results in our Portal.

%h3 About The Genome Analysis Centre (TGAC)

%p
  .text-justify
    TEMP REPLACE WITH THE ACTUAL CONTENT.
    The Brassica Information Portal is a web repository for population and trait
    scoring information related to Brassica breeding community. It provides
    information about quantitative trait loci and links curated Brassica phenotype
    experimental data with genotype information stored in external data sources.
    Advanced data submission capabilities and API interface allow users to store
    and publish their own study results in our Portal.
