-# TEMP, NOTE: remove after navigation mode is designed
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Plant populations', plant_populations_path
  %li.active Plant lines

- data_src = plant_lines_path(query: params[:query])
%table#plant-lines.table.table-condensed.data-table{ data: { ajax: data_src }}
  %thead
    %tr
      %th Line name
      %th Taxonomy
      %th Common name
      %th Previous line name
      %th Entry date
      %th Data owner
      %th Organisation
