.lead Plant Lines table

= link_to 'TEMP LINK TO Plant populations', plant_populations_path

= datatable_tag do
  %th Line name
  %th Taxonomy
  %th Common name
  %th Previous line name
  %th Entry date
  %th Data owner
  %th Organisation
