%footer#footer
  .container
    .row
      .col-md-4
        %div
          %strong
            Brassica Information Portal
          %br
          &copy; TGAC 2015

        %div
          TGAC LOGO HERE
          %br
          %strong
            The Genome Analysis Centre
          %br
          Company Registration: 6855533
          %br
          Charity Number: 1136213

      .col-md-4
        %address
          %div
            Norwich Research Park
            %br
            Norwich
            %br
            NR4 7UH UK

          %div
            %abbr(title="Telephone") T:
            +44 1603 450861
            %br
            %abbr(title="E-mail") E:
            %a(href="mailto:tgac.enquiries@tgac.ac.uk") tgac.enquiries@tgac.ac.uk

      .col-md-2
      .col-md-2
        %div
          Browse
          %br
          Add to database
          %br
          API Documentation

        %div
          About us
          %br
          Terms of use
