- meta_description = "A web repository for population and trait scoring information related to the Brassica breeding community. Provides information about quantitative trait loci and links curated Brassica phenotype experimental data with genotype information stored in external data sources. Advanced data submission capabilities and APIs enable users to store and publish their own study results."

%meta{ name: "description", content: meta_description}
%meta{ name: "keywords", content: "brassica, brassica science, brassica data, brassica research, brassica phenotyping, brassica trials, brassica breeding, crop ontology, crop improvement" }
%meta{ name: "author", content: "Earlham Institute" }
%meta{ name: "robots", content: "follow, index" }
%meta{ name: "rating", content: "general" }
%meta{ name: "referrer", content: "unsafe-url" }
%meta{ name: "rights", content: "Content copyright © Earlham Institute unless stated otherwise" }
%link{ rel: "image_src", ref: "http://www.earlham.ac.uk/sites/default/files/images/projects/Brassica%20information%20portal/brassica-information-portal-social.png" }
%link{ rel: "canonical", href: "#{request.url}" }
%link{ rel: "publisher", href: "https://plus.google.com/+TgacAcUk/" }
%link{ rel: "author", href: "https://plus.google.com/+TgacAcUk/" }
%meta{ name: "original-source", content: "#{request.url}" }
%meta{ property: "fb:admins", content: "567505717" }
%meta{ property: "fb:admins", content: "707580610" }
%meta{ property: "fb:admins", content: "693682302" }
%meta{ property: "og:site_name", content: "Brassica Information Portal" }
%meta{ property: "og:type", content: "website" }
%meta{ property: "og:title", content: "Brassica Information Portal" }
%meta{ property: "og:description", content: meta_description }
%meta{ property: "og:url", content: "https://bip.earlham.ac.uk/" }
%meta{ property: "og:locale", content: "en_GB" }
%meta{ property: "og:postal_code", content: "NR4 7UG" }
%meta{ property: "og:image", content: "http://www.earlham.ac.uk/sites/default/files/images/projects/Brassica%20information%20portal/brassica-information-portal-social.png" }
%meta{ property: "og:image:url", content: "http://www.earlham.ac.uk/sites/default/files/images/projects/Brassica%20information%20portal/brassica-information-portal-social.png" }
%meta{ property: "og:image:type", content: "img/png" }
%meta{ property: "og:image:width", content: "1000" }
%meta{ property: "og:image:height", content: "523" }
%meta{ name: "twitter:card", content: "summary_large_image" }
%meta{ name: "twitter:site", content: "@EarlhamInst" }
%meta{ name: "twitter:site:id", content: "93655345" }
%meta{ name: "twitter:creator", content: "@EarlhamInst" }
%meta{ name: "twitter:creator:id", content: "93655345" }
%meta{ name: "twitter:title", content: "Brassica Information Portal" }
%meta{ name: "twitter:description", content: meta_description }
%meta{ name: "twitter:url", content: "https://bip.earlham.ac.uk/" }
%meta{ name: "twitter:image", content: "http://www.earlham.ac.uk/sites/default/files/images/projects/Brassica%20information%20portal/brassica-information-portal-social.png" }
%meta{ name: "twitter:image:width", content: "1000" }
%meta{ name: "twitter:image:height", content: "523" }
%meta{ name: "twitter:image:alt", content: "Brassica in bowl" }
